

#clockdiv{
    font-family: Roboto, Helvetica ;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;

}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #252324;
    display: inline-block;
	opacity:0.8;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #284C71;
    display: inline-block;
	opacity:0.8;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
