* {
	margin: 0;
	padding: 0;
	outline: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.wrapper {
  width: 200px;
  float:left;
  margin-left: 20px;
  margin-top: 60px;
}
nav.vertical {
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: left;
  margin-top: 100px;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;
    }

      nav.vertical > ul > li > label,
      nav.vertical > ul > li > a {
        color: rgb(255,255,255);
        display: block;
        font-size: 15x;
        font-weight: 500;
        height: 40px;
        line-height: 40px;
        transition: all .3s ease;
		border: 1px solid rgba(255,255,255,0.6);
		border-radius:5px;
		text-align: left;
		padding-left: 11px;
      }

        nav.vertical > ul > li > label:hover,
        nav.vertical > ul > li > a:hover {
        /* background-color: #219ab3;*/
         /*background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); */
         cursor: pointer;
		 border: 1px solid rgba(255,255,255,1);
        }

        nav.vertical > ul > li > label + input {
          display: none;
          visibility: hidden;
        }
        
          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
            max-height: 0;
            overflow: hidden;
            transition: all .5s linear;
          }

            nav.vertical > ul > li > label + input:checked + div {
              max-height: 500px;
            }
			
			input[type="radio"].toggle {
			  display: none;
			}
			
			input[type="radio"].toggle:checked + label {
				
			}
 
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(255,255,255);
             border-bottom: 1px solid #ccc;
             color: #333331;
             display: block;
             font-size: 13px;
             padding: 10px 0;
			padding-left: 25px;
				text-align: left;
             text-decoration: none;
             transition: all 0.15s linear;
			 font-weight: bold;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: lightBlue;
				text-align: left;
                color: #000;
              }