

#glow_anim
		{
			-webkit-animation-name: glow_fade;
			-webkit-animation-timing-function: linear;
			-webkit-animation-duration: 5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-direction:alternate;
			-webkit-animation-play-state: running;
			
			animation-name: glow_fade;
			animation-timing-function: linear;
			animation-duration: 5s;
			animation-iteration-count: infinite;
			animation-direction:alternate;
			animation-play-state: running;
		}
		
		@-webkit-keyframes glow_fade
		{
			0% {}
			100% { -webkit-filter: drop-shadow(0px 0px 25px rgba(255,255,255,0.5)); filter: url(#drop-shadow); }
		}
		
		
		@keyframes glow_fade
		{
			0% {}
			100% { filter: url(#drop-shadow); }
		}
		
#glow
{
filter: url(#drop-shadow);
}