@charset 'UTF-8';

@font-face
{
	font-family: 'Font-Awesome-Social';
	src: url('fonts/fontawesome-social-webfont.eot');
	src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/fontawesome-social-webfont.woff') format('woff'),
		 url('fonts/fontawesome-social-webfont.ttf') format('truetype'),
		 url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}

		#caret_anim
		{
			float:right;
			margin-right:10%;
			margin-left:10%;
			
			-webkit-animation-name: caret_fade;
			-webkit-animation-timing-function: ease-in-out;
			-webkit-animation-duration: 3s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-direction:alternate;
			-webkit-animation-play-state: running;
			
			animation-name: caret_fade;
			animation-timing-function: ease-in-out;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-direction:alternate;
			animation-play-state: running;
		}
		
		@-webkit-keyframes caret_fade
		{
			0% {opacity: 1;}
			100% {opacity: 0;}
		}

		@keyframes caret_fade
		{
			0% {opacity: 1;}
			100% {opacity: 0;}
		}
		
		.twitter_egg
		{
			-webkit-animation-name: twitter;
			-webkit-animation-timing-function: ease-in-out;
			-webkit-animation-duration: 0.5s;
			-webkit-animation-iteration-count: 4;
			-webkit-animation-direction:alternate;
			-webkit-animation-play-state: running;
			
			animation-name: twitter;
			animation-timing-function: ease-in-out;
			animation-duration: 0.5s;
			animation-iteration-count: 4;
			animation-direction:alternate;
			animation-play-state: running;
		}
		
		@-webkit-keyframes twitter
		{
			0% {opacity: 0.5; margin-bottom: 0px;}
			100% {opacity: 1; margin-bottom: 25px;}
		}
		
		@keyframes twitter
		{
			0% {opacity: 0.5; margin-bottom: 0px;}
			100% {opacity: 1; margin-bottom: 25px;}
		}

/*
	Escape Velocity 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.left-align
	{
		text-align: left;
	}
	
	#recaptcha_logo
	{
		display:none;
	}
	
	#recaptcha_privacy 
	{
		display:none;
	}
	
	#recaptcha_table
	{
		background: white;
	}
	
	#recaptcha_response_field
	{
		transition: linear .2s;
		-webkit-transition: linear .2s;
		-moz-transition: linear .2s;
		-o-transition: linear .2s;
		-ms-transition: linear .2s;
		
		border: 1px solid #d0d0d0 !important;
		border-radius: 3px;
		padding: 4px 6px;
		line-height: 26px;
		font-size: 13pt !important;
		color: #545555;
		outline: none;
	}
	
	#recaptcha_response_field_error
	{
		transition: linear .2s;
		-webkit-transition: linear .2s;
		-moz-transition: linear .2s;
		-o-transition: linear .2s;
		-ms-transition: linear .2s;
		
		box-shadow: 0px 0px 7px #e91b00;
		border: 1px solid #ff6854 !important;
		border-radius: 3px;
		padding: 4px 6px;
		line-height: 26px;
		font-size: 13pt !important;
		color: #545555;
		outline: none;
	}
	
	#recaptcha_response_field:focus, #recaptcha_response_field_error:focus
	{
		box-shadow: 0px 0px 5px #6EA2DE;
		border-color: #61C5FA !important;
	}


/*EVENT PAGE NAVIGATION*/	
	.subject_nav_button
	{
		transition: background 0.5s, color 0.8s;
		
		background: rgba(211, 211, 211, 0.75);
		height: 40px;
		padding-top: 5px;
		color: rgb(88, 88, 88);
		display: inline-block;
		width:150px;
		border: 0px solid #545555; 
		border-top: 0px solid black; 
	}
	
	.subject_nav_button:hover
	{
		background: rgba(7,160,215,0.25);
		color: black;
	}
	
	.selected.subject_nav_button
	{
		transition: background 0.5s, color 0.8s;
		
		background: rgb(19, 75, 156);
		color: white;
	}
	
	td
	{
		text-align:left;
		padding-left:40px;
	}
	
	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, input, textarea, select
	{
		font-family: 'Open-Sans', sans-serif;
		font-weight: 400;
		color: #545555;
		
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-smoothing: antialiased;
		font-smoothing: antialiased;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 700;
		color: #484d55;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
	}

	a
	{
		text-decoration: underline;
		color: #717479;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
		-o-transition: color .25s ease-in-out;
		-ms-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
	}
	
		a:hover
		{
			text-decoration: none;
		}

	strong, b
	{
		font-weight: 700;
		color: #484d55;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	table
	{
		width: auto;
		display: inline-table;
	}
	
		table.style1
		{
			width: 100%;
		}
		
			table.style1 tbody tr:nth-child(2n+2)
			{
				background: #f4f4f4;
			}
			
			table.style1 td
			{
				padding: 0.5em 1em 0.5em 1em;
			}
			
			table.style1 th
			{
				text-align: left;
				font-weight: 200;
				padding: 0.5em 1em 0.5em 1em;
			}
		
			table.style1 thead
			{
				background: #484d55;
				color: #fff;
			}
			
			table.style1 tfoot
			{
				background: #eee;
			}
			
			table.style1 tbody
			{
			}

	table td
	{
		padding: 5px 20px 5px 35px;
		vertical-align: middle;
	}
	
	.form_labels
	{
		text-align: right;
	}
	
	
	form
	{
	}
	
		form label
		{
			display: block;
			color: #484d55;
		}
	
		form input.text,
		form select,
		form textarea
		{
			width: 278px;
			border-radius: 4px;
			padding: 4px 6px;
			line-height: 26px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #d0d0d0;
			color: #545555;
			
			background-color: #fff;
			outline: none;
			
			transition: linear .2s;
			-webkit-transition: linear .2s;
			-moz-transition: linear .2s;
			-o-transition: linear .2s;
			-ms-transition: linear .2s;
		}

			form input.text:hover,
			form select:hover,
			form textarea:hover
			{
			}

			form input.text:focus,
			form select:focus,
			form textarea:focus
			{
				box-shadow: 0px 0px 5px #6EA2DE;
				border-color: #61C5FA;
			}
			
			form input.error
			{
				box-shadow: 0px 0px 5px #e91b00;
				border-color: #ff6854;
			}
			
			form textarea
			{
				min-height: 12em;
			}
			
			form select
			{
				height:36px;
				font-size:16px;
				color: #8d8d8d;
			}
			

			form .formerize-placeholder
			{
				color: #555 !important;
			}

			form ::-webkit-input-placeholder
			{
				color:#8d8d8d;
				font-weight: 100;
			}

			form :-moz-placeholder
			{
				color:#8d8d8d;
				font-weight: 100;
			}

			form ::-moz-placeholder
			{
				color:#8d8d8d;
				font-weight: 100;
			}

			form :-ms-input-placeholder
			{
				color:#8d8d8d;
				font-weight: 100;
			}

			form ::-moz-focus-inner
			{
				border: 0;
			}

	.nobr
	{
		white-space: nowrap;
	}

	br.clear
	{
		clear: both;
	}
	
	ul, ol, dl, table, blockquote
	{
		margin-bottom: 2em;
	}
	
	.list ul
	{
		list-style: circle;
	}

	ul
	{
		list-style: circle;
	}
	
	ol
	{
		list-style: decimal;
	}
	
	p
	{
		margin-bottom: 0.5em;
		text-align: justify;
		line-height: 1.5em;
	}
	
	.is p
	{
		margin-bottom: 2em;
	}
	
	.homepage p
	{
		text-align:center;
	}
	
	.left-sidebar ul,
	.no-sidebar ul
	{
		margin-bottom: 0em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}
	
	header.style1
	{
		text-align: center;
	}

		header.style1 h2
		{
			font-weight: 700;
		}
		
		header.style1 .byline
		{
			color: #b1b4b9;
		}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
		
	.image-featured
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.button
	{
		display: inline-block;
		background: #444;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.25em;
		text-decoration: none;
		border-radius: 0.35em;
		border: 0;
		outline: 0;
		cursor: pointer;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

		.button-style1
		{
			background: #0285ba url('images/overlay.png');
			color: #fff;
		}

			.button-style1:hover
			{
				background-color: #03a1db;
			}
			
			.button-style1:active
			{
				background-color: #03a1db;
			}

		.button-style2
		{
			background: none;
			color: #606167;
			box-shadow: inset 0px 0px 2px 0px #a0a1a7;
		}
		
			.button-style2:hover
			{
				box-shadow: inset 0px 0px 2px 0px #606167;
			}
		
			.button-style2:active
			{
				box-shadow: inset 0px 0px 2px 0px #202127;
			}

		.button-style3
		{
			background: #2f333b url('images/overlay.png');
			color: #fff;
		}

			.button-style3:hover
			{
				background-color: #3f434b;
			}
			
			.button-style3:active
			{
				background-color: #1f232b;
			}

	ul.style1
	{
	}
	
	ul.style2
	{
	}
	
		ul.style2 li
		{
			border-top: solid 1px #eee;
			padding: 1.5em 0 0 0;
			margin: 1.5em 0 0 0;
		}
		
		ul.style2 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	
	ul.style3
	{
	}
	
		ul.style3 li
		{
			border-top: solid 1px #eee;
			padding: 0.5em 0 0 0;
			margin: 0.5em 0 0 0;
		}
		
		ul.style3 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	
	ol.style1
	{
	}
		
	.actions
	{
	}

	.feature-list
	{
	}

		.feature-list h3
		{
			color: #03a1d8 !important;
		}
		
			.feature-list h3:before
			{
				position: relative;
				display: inline-block;
				color: #fff;
				background: #2f333b url('images/overlay.png');
				border-radius: 1em;
				text-align: center;
			}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	/*
		Powered by:
		
		Font Awesome (http://fortawesome.github.com/Font-Awesome/)
		Font Awesome More (http://gregoryloucas.github.com/Font-Awesome-More/)
	*/

	

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.people_desc
	{
		margin-bottom:1em;
		font-style:italic;
	}
	
	.people_desc a:link
	{
		text-decoration:none;
	}
	
	.people_desc a:hover
	{
		text-decoration:underline;
	}
	
	
	.committees h3
	{
		margin-bottom:0em;
	}
	
	.wrapper
	{
		position: relative;
	}

		.wrapper .title
		{
			position: absolute;
			top: 0;
			left: 50%;
			text-align: center;
			text-transform: uppercase;
			display: block;
			font-weight: 700;
			letter-spacing: 0.25em;
		}
		
		.wrapper .title:before
		{
			content: '';
			position: absolute;
			bottom: -38px;
			left: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
		}
		
		.left-sidebar .wrapper .title:before,
		.no-sidebar .wrapper .title:before
		{
			background: url('');
		}
		
		.wrapper .title:after
		{
			content: '';
			position: absolute;
			bottom: -38px;
			right: -35px;
			width: 35px;
			height: 38px;
			background: url('images/shadow.png');
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
    	}
		
		.left-sidebar .wrapper .title:after,
		.no-sidebar .wrapper .title:after
		{
			background: url('');
		}

	#header-wrapper
	{

			/*
			-webkit-animation-name: change_hue;
			-webkit-animation-timing-function: linear;
			-webkit-animation-duration: 20s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-play-state: running;
		}
		
		@-webkit-keyframes change_hue
		{
			0% {}
			100% { -webkit-filter: hue-rotate(360deg); }*/
		}
	
	/*
		#header-wrapper:before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url('images/overlay.png');
		}
		*/
	
	#footer-wrapper
	{
		background: #282b34 url('images/overlay.png');
		color: #eee;
		color: rgba(255,255,255,0.5);
	}

		#footer-wrapper h1,
		#footer-wrapper h2,
		#footer-wrapper h3,
		#footer-wrapper h4,
		#footer-wrapper h5,
		#footer-wrapper h6,
		#footer-wrapper strong,
		#footer-wrapper b,
		#footer-wrapper a
		{
			color: #fff;
		}

		#footer-wrapper hr
		{
			border-top-color: #333;
			border-top-color: rgba(255,255,255,0.05);
		}

		#footer-wrapper form
		{
		}

			#footer-wrapper form input.text,
			#footer-wrapper form select,
			#footer-wrapper form textarea
			{
				background: #ccc;
				box-shadow: none;
			}

			#footer-wrapper form input.text:focus,
			#footer-wrapper form select:focus,
			#footer-wrapper form textarea:focus
			{
				background: #fff;
			}

		#footer-wrapper .button-style2
		{
			color: #aaa;
			box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.5);
		}

			#footer-wrapper .button-style2:hover
			{
				color: #ccc;
				box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.65);
			}

			#footer-wrapper .button-style2:active
			{
				box-shadow: inset 0px 0px 2px 0px rgba(255,255,255,0.75);
			}

		#footer-wrapper .title
		{
			background: #282b34 url('images/overlay.png');
			color: #eee;
		}
		
		#footer-wrapper header.style1
		{
		}
		
			#footer-wrapper header.style1 h2
			{
				color: #fff;
			}
	
			#footer-wrapper header.style1 .byline
			{
				color: inherit;
			}

		#footer-wrapper .feature-list
		{
		}
		
			#footer-wrapper .feature-list .row
			{
				border-top-color: #333;
				border-top-color: rgba(255,255,255,0.05);
			}

			#footer-wrapper .feature-list h3
			{
			}
			
				#footer-wrapper .feature-list h3:before
				{
					background: #3d4249 url('images/overlay.png');
				}
	
	.wrapper-style1
	{
		background: #03a1d8 url('images/overlay.png');
		color: #eee;
		color: rgba(255,255,255,0.75);
	}
	
		.wrapper-style1 .title
		{
			background: #03a1d8 url('images/overlay.png');
			color: #fff;
		}
	
		.wrapper-style1 h1,
		.wrapper-style1 h2,
		.wrapper-style1 h3,
		.wrapper-style1 h4,
		.wrapper-style1 h5,
		.wrapper-style1 h6,
		.wrapper-style1 strong,
		.wrapper-style1 b,
		.wrapper-style1 a
		{
			color: #fff;
		}
	
	.wrapper-style2
	{
		background: #FAFAFA url('images/overlay.png');
	}
	
		.wrapper-style2 .title
		{
			background: #f3f3f3 url('images/overlay.png');
			color: #484d55;
		}
	
	.wrapper-style3
	{
		background: #c4c4c4 url('images/overlay.png');
	}
	
		.wrapper-style3 .title
		{
			background: #c4c4c4 url('images/overlay.png');
			color: #484d55;
		}
		
		.wrapper-style3 .image
		{
			border: solid 10px #fff;
		}
		
		
/*********************************************************************************/
/* Profile Bar                                                                   */
/*********************************************************************************/

.no-sidebar #profile-bar , .left-sidebar #profile-bar 
{
	position: absolute;
	z-index: 200;
	height: 27px;
	margin-bottom: -7px;
	background-color: rgba(0,0,0,0.15);
	color: rgba(256,256,256,0.55);
	font-size: 15px;
	text-align: right;
	width: 100%;
	padding-right: 75px;
	padding-left: 45px;
	line-height: 27px;
}

.homepage #profile-bar
{
	background-color: rgba(0,0,0,0.15);
	height: 27px;
	padding-right: 125px;
	vertical-align: middle;
	color: rgba(256,256,256,0.55);
	font-size: 15px;
	text-align:right;
	position: relative;
}

#profile-bar a
{
	color: rgba(256,256,256,0.55);
	text-decoration: none;
}

#profile-bar a:hover
{
	text-decoration: underline;
}

#sidebar a
{
	text-decoration: none;
}

#sidebar a:hover
{
	text-decoration: underline;
}
		
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}
	
		#logo h1
		{
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
		}
		
		#logo .byline
		{
			color: #eee;
			color: rgba(255,255,255,0.65);
			text-transform: uppercase;
			font-size: 0.9em;
			font-weight:300;
		}

/*********************************************************************************/
/* Tiles                                                                         */
/*********************************************************************************/
		
		.overlay
		{
			position:absolute;
			bottom:0px;
			left:0px;
			height:700px;
			width: 900px;
			opacity:0.1; 
			background-size: auto 100% !important;
			display: inherit;
			
			-webkit-transition: opacity 0.35s ease-in-out; 
		}
		
		.hide
		{
			opacity: 0;
		}
		
		#tiles
		{
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
		}
		
		.homepage #tiles
		{
			bottom:26%;
			width: auto;
			left: 50%;
			margin-left: -275px;
		}
				
		.the_tile
		{
			margin-left: 16px;
			margin-right: 16px;
			border-radius:5px;
			height: 55px;
			width: 55px;
			background-repeat: no-repeat;
			background-size: cover;
			
			opacity:0.45;
			filter:alpha(opacity=45); /* For IE8 and earlier */
			transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;

			/* Works? */
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 2px 3px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 2px 3px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
			box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 2px 3px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
		}
		
		
		
		.the_tile:hover
		{
			opacity:1.0;
			filter:alpha(opacity=100); /* For IE8 and earlier */
			transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;
		}
		
		#tile1
		{
			background: url('../images/Tiles/tile1.png');
			background-size: cover;
			display: inline-block;
		}
		
		#tile2
		{
			background: url('../images/Tiles/tile2.png');
			background-size: cover;
			display: inline-block;
		}
		
		#tile3
		{
			background: url('../images/Tiles/tile3.png');
			background-size: cover;
			display: inline-block;
		}
		
		#tile4
		{
			background: url('../images/Tiles/tile4.png');
			background-size: cover;
			display: inline-block;
		}
		
		#tile5
		{
			background: url('../images/Tiles/tile5.png');
			background-size: cover;
			display: inline-block;
		}
		
		#tile6
		{
			background: url('../images/Tiles/tile6.png');
			background-size: cover;
			display: inline-block;
		}
		
		#social-media
		{
			position: absolute;
			bottom: 0;
			right:0;
			margin-right:6px;
			margin-left:6px;
			margin-bottom:0px;
		}
		
		.sm-icon
		{
			height:32px;
			width:32px;
			margin: 0px 10px 0px 10px;
			display: inline-block;
			
			opacity: 0.5;
			
			filter:alpha(opacity=45); /* For IE8 and earlier */
			transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;
			
		}
		
		.sm-icon:hover
		{
			opacity:1.0;
			filter:alpha(opacity=100); /* For IE8 and earlier */
			transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;
		}
		
		#fb
		{
			background: url('../images/social-media/facebook.png');
			background-size: cover;
		}
		
		#twitter
		{
			background: url('../images/social-media/twitter.png');
			background-size: cover;
		}
		
		#youtube
		{
			background: url('../images/social-media/youtube.png');
			background-size: cover;
		}
		
		#gplus
		{
			background: url('../images/social-media/google+.png');
			background-size: cover;
		}
		
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/
	
	.subject_tiles
	{
		position: relative;
		width: 200px;
		height: 200px;
		background-repeat: no-repeat;
		background-size: cover;
		display: inline-block;
		margin-left: 16px;
		margin-right: 16px;
		border-radius: 8px;
		
		-webkit-transition:-webkit-filter 0.25s ease-in-out;  
		transition:-webkit-filter 0.25s ease-in-out;  
		-moz-transition:-webkit-filter 0.25s ease-in-out;  
	}
	
	.blur_out
	{
		-webkit-filter: blur(1px) grayscale(0.8);
		filter: blur(1px);
		-moz-filter: blur(1px);
	}

	#intro
	{
	}
	
		#intro .style1
		{
		}	
		
		#intro .style2
		{
			font-weight: 700;
			color: #fff;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
		}
		
			#intro .style2 a
			{
				color: inherit;
				text-decoration: none;
			}
		
		#intro .style3
		{
		}
		
			
		
/*********************************************************************************/
/* Highlights                                                                    */
/*********************************************************************************/

	#highlights
	{
	}

		#highlights .highlight
		{
			text-align: center;
		}
		
			#highlights .highlight h3
			{
				color: #134b9d;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
			
	#copyright
	{
		text-align: center;
	}
	
		#copyright span
		{
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.05);
			color: #aaa;
			color: rgba(255,255,255,0.25);
		}
		
			#copyright span a
			{
				color: inherit;
			}
			
				#copyright span a:hover
				{
					color: #fff;
				}